<?xml version="1.0" ?>
<!--covid_swab-->
<robot name="swab">
  <link name="baseLink">
    <contact>
      <lateral_friction value="10.0"/>
      <inertia_scaling value="3.0"/>
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="swab_rod.obj" scale="2 2 2"/>
      </geometry>
      <material name="light wood yellow">
        <color rgba="0.8706, 0.7216, 0.5294 1"/>
      </material>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".01"/>
       <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.05" iyz="0" izz="0.05"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="swab_rod.obj" scale="2 2 2"/>
      </geometry>
    </collision>
  </link>

  <link name="tip">
    <contact>
      <lateral_friction value="1.0"/>
      <inertia_scaling value="3.0"/>
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="swab_cotton_tip.obj" scale="2 2 2"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1.0"/>
      </material>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".001"/>
       <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="swab_cotton_tip.obj" scale="2 2 2"/>
      </geometry>
    </collision>
  </link>

  <link name="grasp">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0"/>
       <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.002 0.002 0.002"/>
      </geometry>
    </visual>
  </link>

  <joint name="tip2base" type="fixed">
    <origin rpy="0 0 0" xyz="0.05 0 0"/>
    <parent link="tip"/>
    <child link="baseLink"/>
  </joint>

  <joint name="base2grasp" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="baseLink"/>
    <child link="grasp"/>
  </joint>
</robot>