[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scikit-image = "*"
gitpython = "*"
pyqt5 = "*"
matplotlib = "*"
pybullet = "*"
sphinx = "*"
rinohtype = "*"
scikit-learn = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
tqdm = "*"
more-itertools = "*"
seaborn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tensorboard = "*"

[requires]
python_version = "3.8"
