[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = ">=1.20.0"
scikit-image = ">=0.14.2"
attrdict = "*"
gitpython = "*"
pyqt5 = "*"
matplotlib = "*"
pybullet = ">=2.7.1"
sphinx = "*"
rinohtype = "*"
scikit-learn = "==0.23.2"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
tqdm = ">=4.31.1"
more-itertools = "*"
seaborn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tensorboard = "*"
scipy = ">=1.2.1"
dill = "*"
e2cnn = "==0.1.5"
opencv-python-headless = "*"

[requires]
python_version = "3.7"
