<?xml version="1.0" ?>
<robot name="obj">
  <link name="baseLink">
    <contact>
      <lateral_friction value="0.2"/>
      <rolling_friction value="0.1"/>
      <inertia_scaling value="3.0"/>
      <spinning_friction value=".001"/>
      <rolling_friction value=".001"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 1.57" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="car4.obj" scale="0.2 0.2 0.2"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.6 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 1.57" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="car4.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>
</robot>
