<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Peg">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.2348E-15 0.022804 -7.3899E-16"
        rpy="0 0 0" />
      <mass
        value="0.04277" />
      <inertia
        ixx="1.0814E-05"
        ixy="1.6021E-18"
        ixz="-1.7166E-22"
        iyy="6.732E-06"
        iyz="-4.4311E-19"
        izz="1.0814E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Insertion">
    <inertial>
      <origin
        xyz="-4.33680868994202E-19 0.07112 0"
        rpy="0 0 0" />
      <mass
        value="0.0257407399381529" />
      <inertia
        ixx="6.57356291232241E-06"
        ixy="-4.59177480789956E-38"
        ixz="1.72734723197977E-39"
        iyy="2.07586197231234E-06"
        iyz="1.7928864050216E-22"
        izz="6.57356291232241E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0.070 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Insertion.STL" scale="1.0 1.0 1.0"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.070 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Insertion.STL" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
  </link>
  <joint name="Insertion" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Insertion" />
  </joint>
</robot>
