<?xml version="1.0" ?>
<robot name="obj">
  <link name="baseLink">
    <contact>
      <friction_anchor/>
      <lateral_friction value="10.0"/>
      <rolling_friction value="0.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.06"/>
      <geometry>
        <mesh filename="bottle10.obj" scale="0.2 0.2 0.16"/>
      </geometry>
      <material name="">
        <color rgba="0.8 0.9 1 1" />
      </material>
    </visual>
    <!--<collision>-->
      <!--<origin rpy="0 0 0" xyz="0 0 0.06"/>-->
      <!--<geometry>-->
        <!--<mesh filename="bottle10.obj" scale="0.2 0.2 0.2"/>-->
      <!--</geometry>-->
    <!--</collision>-->
    <!--<visual>-->
    <!--<origin rpy="0 0 0" xyz="0 0 0.06"/>-->
    <!--<geometry>-->
    <!--<cylinder radius="0.028" length="0.21"/>-->
    <!--</geometry>-->
    <!--</visual>-->
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.06"/>
      <geometry>
        <cylinder radius="0.028" length="0.168"/>
      </geometry>
    </collision>
  </link>
    <link name="grasp">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <!--<visual>-->
      <!--<origin rpy="0 0 0" xyz="0 0 0"/>-->
      <!--<geometry>-->
        <!--<box size="0.03 0.03 0.03"/>-->
      <!--</geometry>-->
    <!--</visual>-->
  </link>
  <joint name="base2grasp" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.14"/>
    <parent link="baseLink"/>
    <child link="grasp"/>
  </joint>
</robot>
