<?xml version="1.0" ?>
<!--covid_test_tube-->
<robot name="test_tube">
  <link name="baseLink">
    <contact>
      <lateral_friction value="200.0"/>
      <inertia_scaling value="3.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".02"/>
       <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="covid_test_tube_container.obj" scale="2 2 2"/>
      </geometry>
      <material name="tranparent">
        <color rgba="0.9 0.9 0.9 0.4"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	    <mesh filename="covid_test_tube_container.obj" scale="2 2 2"/>
      </geometry>
    </collision>
  </link>

  <link name="cap">
    <contact>
      <lateral_friction value="200.0"/>
      <inertia_scaling value="3.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.014 0 0"/>
       <mass value=".01"/>
       <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.014 0 0"/>
      <geometry>
	    <mesh filename="covid_test_tube_cap.obj" scale="2 2 2"/>
      </geometry>
      <material name="red">
        <color rgba="1 0.4 0.4 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.014 0 0"/>
      <geometry>
	    <mesh filename="covid_test_tube_cap.obj" scale="2 2 2"/>
      </geometry>
    </collision>
  </link>

  <link name="grasp">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0"/>
       <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="base2cap" type="fixed">
    <origin rpy="0 0 0" xyz="-0.05 0 0"/>
    <parent link="baseLink"/>
    <child link="cap"/>
  </joint>

  <joint name="base2grasp" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="baseLink"/>
    <child link="grasp"/>
  </joint>
</robot>
